#wrapper {
   width: 100%;
   height: auto;
   background-color: lightgray;
   margin: 0 auto;
   overflow: hidden;
}

#canvas {
   width: 100%;
   height: 500px;
   background-color: #ccc;
   border-style: dotted;
   border-color: gray;
   border-radius: 10px;
   margin: 30px auto;
}

#main-navbar {
   background-color: whitesmoke;
}

#main-navbar {
   overflow: hidden;
}

#navbar-container {
   float: left;
   width: 100%;
   position: relative;
   background-color: whitesmoke;
}

#main-navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   float: left;
}

#main-navbar ul li {
   float: left;
   position: relative;
   right: 50%;
   display: block;
}

#main-navbar ul li a {
   display: block;
   padding: 10px 20px;
   font-family: 'Nanum Gothic', sans-serif;
   color: lightslategray;
   text-decoration: none;
}
