#wrapper {
   width: 100%;
   height: auto;
   background-color: lightgray;
   margin: 0 auto;
   overflow: hidden;
}

#canvas {
   width: 100%;
   height: 500px;
   background-color: #ccc;
   border-style: dotted;
   border-color: gray;
   border-radius: 10px;
   margin: 30px auto;
}
