@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

/* imported font*/


/*different style elements*/

body {
   background-color: whitesmoke;
}

h1 {
   color: dimgray;
}

h2 {
   color: darkslategray;
}

h3 {
   color: slategray;
}

h4 {
   color: darkgray;
}

p {
   color: lightslategray;
   font-family: 'Nanum Gothic', sans-serif;
   /* imported font */
}


/* same style elements */

h1,
h2,
h3,
h4 {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body,
h1,
h2,
h3,
h4,
p,
em {
   margin-left: 0.2%;
}


/*.index li, .index1 li, .index2 li, .index3 li, .index4 li, .index5 li{
  color: lightslategray;
  font-family: 'Nanum Gothic', sans-serif;
}*/

.index li {
   color: lightslategray;
   font-family: 'Nanum Gothic', sans-serif;
}

em {
   color: lightslategray;
}

img {
   max-width: 100%;
   max-height: 400px;
   height: auto;
}

ul {
   color: lightslategray;
   font-family: 'Nanum Gothic', sans-serif;
}

div {
   background-color: lightgray;
}

div#d1 {
   background-color: whitesmoke;
}

.index h2,
.envy h1 {
   text-decoration: underline;
   text-decoration-color: slategray;
   text-decoration-style: solid;
}

.italic {
   font-style: italic;
}

nav {
   width: 100%;
   border: 1px solid #ccc;
   border-width: 1px 0;
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.nav li {
   display: inline;
}

.nav ul {
   display: inline;
}

.nav a {
   display: inline-block;
   color: lightslategray;
   font-family: 'Nanum Gothic', sans-serif;
   padding: 10px;
}
